.jcEnd {
    justify-content: flex-end;
}

.rotate5 {
    transform: rotate(-5deg);
}

.marginR5 {
    margin-right: 15px;
}

.colBtnHome {
    display: flex;
    align-items: center;
}

.imgHome {
    margin-top: 14%;
    height: 100vh;
    transition: transform 1s ease-in-out;
}

.homeDiv {
    display: flex;
    justify-content: space-between;
    background: rgb(205,205,205);
    background: linear-gradient(305deg, rgba(205,205,205,1) 30%, rgba(46,49,46,1) 100%);
    overflow: hidden;
    height: 100vh;
}

.PDiv {
    height:150vh;
    width: 100vw;
    margin-top: -5%;
    transform: rotate(5deg);
    overflow: hidden;
    background: rgb(204,204,204);
}

.proDiv {
    opacity: 30%;
    margin-left: -10%;
    border-right: 8px solid;
    background: linear-gradient(345deg, rgba(204,204,204,1) 0%, rgba(46,49,46,1) 100%);

    transition: opacity 0.3s;
    transition: width 0.5s ease-in-out;
}

.persoDiv {
    opacity: 30%;
    margin-right: -10%;
    border-left: 8px solid;
    background: linear-gradient(345deg, rgb(148, 148, 148) 0%, rgba(255,255,255,1) 100%);

    transition: opacity 0.3s;
    transition: width 0.5s ease-in-out;
}

.PDiv:hover {
    opacity: 100%;
    width: 105%;
}

.PDiv:hover > .rowHome > .colImgHome > .imgHome {
    transform: scale(1.1);
}

.PDiv:hover > .rowHome > .colBtnHome > .btnHome {
    animation: 2s ease-in 0s infinite alternate slidein, 1s ease-in 0s infinite alternate shadow;
}

@keyframes slidein { from { transform: scale(1); } to { transform: scale(1.2); }  }
@keyframes shadow { from { box-shadow: 0px 0px 20px 0px; } to { box-shadow: 0px 0px 0px 0px; }  }